*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: url("https://img.freepik.com/premium-photo/white-smoke-right-side-background_23-2147734841.jpg") no-repeat center center fixed; 
  background-size: cover; 
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: none;
}


.brand{
    color: white;
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
    cursor: pointer;
    
}



.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 display: flex;

}

.nav-links li{
padding: 2rem;
}

/*.nav-links li:hover{
    background-color: rgb(100, 100, 100);
}*/


.navbar a{
    text-decoration: none;
color: rgb(255, 255, 255);
text-transform: uppercase;

}


.nav-links li::after{
    content: '';
    background-color: navajowhite;
    height: .3rem;
    width: 100%;
   display: block;
  position: relative;
  top: 1rem;
  opacity: 0;
  transition: all 0.2s;
  
  

  
}

.nav-links li:hover::after
{
opacity: 1;
}


.toggle-button{
    width: 31px;
    height: 31px;
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
}


.toggle-button .bar{
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 100%;


}


main{
    margin-top: 7rem;

}

h1{
    color: white;
    margin-left: 6rem;
    font-size: xx-large;
}


p{
    color: white;
    width: 35%;
    margin-left: 6rem;
    font-size:x-large;
}


.btn{
    margin-top: 6rem;
    margin-left: 6rem;
    justify-content: space-between;
}


.menu{
    width: 8rem;
    height: 4rem;
    border:2px solid navajowhite;
    background-color: transparent;
    color: white;
    font-size: x-large;
    margin-right: 2rem;

    

}

.order,.menu{
    width: 8rem;
    height: 4rem;
    border:2px solid navajowhite;
    background-color: transparent;
    color: white;
    margin-right: 2rem;
    font-size: x-large;
    /* Initial background is red */
    background: linear-gradient(to left, transparent 50%, rgb(197, 197, 202) 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 2s ease;

}


  
  .order:hover {
    /* On hover, change background position to left */
    background-position: left;
  }
  
.menu:hover {
    /* On hover, change background position to left */
    background-position: left;
  }

@media (max-width:600px) {
    .toggle-button{
        display: flex;
    }
    .nav-links ul{
        display: none;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-top: 2rem;  
    }
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links {
        width: 100%;
    }
    .nav-links li {
        width: 100%;

    }
    .nav-links li {
        text-align: center;
        padding: 1rem;
    }
    .nav-links.active ul{
        display:flex;
    
        
    }
    .toggle-button.active span:first-child{
        transform: rotate(45deg) translate(5px, 7px);
    }
    
    .toggle-button.active span:nth-child(2){
        opacity: 0;
    }    
    
    .toggle-button.active span:last-child{
        transform: rotate(-45deg) translate(5px,-7px );
    }
    
   main{
   margin-top: 3.5rem;
    margin-left: -4.3rem;
   }
p{
    width: 80%;
}
.btn{
    display: flex;
}
}


